<span>
    <span class="skycon" style="width:32px;height:32px">
        <canvas width="64" height="64" style="width:100%;height:100%" id="icon_day{{@index}}"  class="{{icon}}"></canvas>
    </span>
    <span class="name">
        {{name}}
    </span>
</span>
<span class="tempRange">
    <span class="minTemp" style="left:{{minTempLeft}}%">{{temperatureMinInt}}˚</span>
    <span class="bar" style="width:{{barWidth}}%; margin-left:{{barML}}%"></span>
    <span class="maxTemp" style="left:{{maxTempLeft}}%">{{temperatureMaxInt}}˚</span>
</span>