<link rel="stylesheet" type="text/css" href="css/weather.css">
<div class="center">
    <div id="title">
        <span class="currently">
            <span class="skycon swip">
                <canvas width="84" height="84" id="icon_current" class="{{currently.icon}}"></canvas>
            </span>
            <span class="desc swap">
                <span class="summary swap">{{currently.temperature}}˚&nbsp;{{{currently.summary}}}.</span>
                <span class="summary-high-low">
                    <span>
                        <span class="high-low-label">Feels Like</span>:&nbsp;{{currently.apparentTemperature}}˚</span>
                    <span>
                        <span class="high-low-label">Low</span>:&nbsp;{{{daily.data.[0].temperatureLow}}}˚</span>
                    <span>
                        <span class="high-low-label">High</span>:&nbsp;{{daily.data.[0].temperatureHigh}}˚</span>
                </span>
            </span> 
        </span>
        <span class="next swap">
            {{{hourly.summary}}}
        </span>
    </div>
</div>

<div id="week" class="center">
        <div class="summary">
          {{{daily.summary}}}
        </div>
{{#each daily.data}}
<div class="day">
{{> weekDay}}
</div>
{{/each}}
</div>div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k="
        crossorigin="anonymous"></script>
    <script async type="text/javascript" src="js/skycons.js"></script>    
    <script async type="text/javascript" src="js/weather.js"></script>